<p>Xin chào {{ name }},</p>
<p>Vui lòng bấm vào link để đặt lại mật khẩu cho tài khoản của mình</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>

<p>Nếu bạn không click vào quên mật khảu vui lòng bỏ qua tin nhắn này. Link chỉ có hiệu lực trong 2h từ thời điểm nhận được email.</p>
<p>Copyright by Huyền xinh gáii</p>